
# Automatically added from ../.env
ANON_KEY=
API_URL=
DB_URL=
FUNCTIONS_URL=
GRAPHQL_URL=
INBUCKET_URL=
JWT_SECRET=
MAILPIT_URL=
PUBLISHABLE_KEY=
REST_URL=
S3_PROTOCOL_ACCESS_KEY_ID=
S3_PROTOCOL_ACCESS_KEY_SECRET=
S3_PROTOCOL_REGION=
SECRET_KEY=
SERVICE_ROLE_KEY=
STORAGE_S3_URL=
